.mono-body {
  background: #e1d8e6;
}

.mono-container {
  width: 100%;
  /* height: 100vh; */
  min-height:100vh;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.toplevelContainer{
  /* display:block; */
  position:relative;
}
.headerFrame {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 9%;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  display:flex;
  padding:40px;
}
.headerText {
  left: 10%;
  width: 202px;
  display: flex;
  position: absolute;
}
.headerAction {
  right:10%;
  height:36px;
  width: 116px;
  display: flex;
  padding: 6px 10.5px;
  position: absolute;
  align-items: center;
  border-radius: 4px;
  background-color: var(--dl-color-default-ascentbuttons);
}
.mono-frame48 {
  gap: 24px;
  top: 839px;
  left: 184px;
  width: 446px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.mono-frame108 {
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  padding-top:5%;
  flex-wrap: wrap;
}
.mono-frame42 {
  display: flex;
  flex-direction: column;
  max-width:100vw;
}
.mono-text216 {
  color: var(--dl-color-default-black);
  width: 470px;
  max-width:100vw;
  height: auto;
  text-align: left;
  padding:20px;
}
.mono-text218 {
  color: var(--dl-color-default-black);
  width: 470px;
  max-width:100vw;
  height: auto;
  text-align: left;
  line-height: 25px;
  padding-top:20px;
  padding-bottom:30px;
  padding:20px;
}
.mono-frame435 {
  gap: 5px;
  width:142px;
  display: flex;
  padding: 10px 14.5px;
  align-items: center;
  border-radius: 4px;
  background-color: var(--dl-color-default-ascentbuttons);
  position:relative;
}
.mono-arrowright17 {
  width: 12px;
  height: 12px;
}
.mono-rectangle13 {
  top: 138px;
  right:10%;
  /* width: 100%; */
  /* height: 100%; */
  max-width: 500px;
  max-height: 500px;
  max-width:100%;
}
.mono-text230 {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 26px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.mono-text240 {
  color: var(--dl-color-default-white);
  height: auto;
  text-align: center;
  line-height: auto;
}
.mono-framefooter {
  bottom:0px;
  left: 0px;
  width: 100%;
  height: 20px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
}
.mono-footertextdiv {
  gap: 3px;
  left: 10%;
  width: 202px;
  display: flex;
  position: absolute;
  align-items: flex-end;
}
.mono-footertext {
  color: var(--dl-color-default-black);
  height: auto;
  font-size: 12px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 100;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.floatChild{
  flex:50%;
  float:left;
  /* border: 2px solid red; */
}
.imageContainer{
  display:flex;
  justify-content:center;
  padding-bottom:10%;
  padding-left: 15px;
  padding-right: 15px;
}
.mainAction{
  padding-top:100px;
  align-items:center;
  display:flex;
  flex-direction:column;
  padding-bottom:10%;
}
.mainButtonContainer{
  padding-top:10px;
}